/* src/styles/variables.css */

/* CSS 변수 정의 */
:root {
  --primary-100: rgba(91, 141, 239, 1);
  --primary-200: rgba(53, 114, 208, 1);
  --primary-300: rgba(30, 95, 192, 1);

  --primary-gradient: linear-gradient(
    90deg,
    #ffbad0 0%,
    var(--primary-100) 100%
  );

  --bg-100: rgba(255, 254, 251, 1);
  --bg-200: rgba(245, 244, 241, 1);
  --bg-300: rgba(204, 203, 200, 1);

  --text-100: rgba(29, 28, 28, 1);
  --text-200: rgba(37, 37, 37, 1);
  --text-300: rgba(85, 85, 85, 1);
  --text-400: rgba(170, 170, 170, 1);

  --action-green-bg: rgba(108, 219, 217, 0.2);
  --action-green: rgba(97, 213, 210, 1);
  --action-primary-bg: rgba(91, 141, 239, 0.2);
  --action-red-bg: rgba(204, 105, 105, 0.2);
  --action-red: rgba(204, 105, 105, 1);
  --action-yellow-bg: rgba(251, 220, 142, 0.5);
  --action-yellow: rgba(188, 157, 79, 1);
}

/* 스크롤바 커스텀 */
::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(91, 141, 239, 0.3);
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: rgba(91, 141, 239, 0.5);
}

/* 롤링 애니메이션 (왼쪽으로 무한 이동) */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}